<div id="main">
        <div class="inner">

        <!-- Boxes -->
            <div class="thumbnails">

                <div class="box">
                    <a href="#" class="image fit"><img src="../../../assets/images/food1.jpg" alt="" /></a>
                    <div class="inner">
                        <h3>Nascetur nunc varius commodo</h3>
                        <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                        <a href="#" class="button fit" data-poptrox="#">Watch</a>
                    </div>
                </div>

                <div class="box">
                    <a href="#" class="image fit"><img src="../../../assets/images/food1.jpg" alt="" /></a>
                    <div class="inner">
                        <h3>Nascetur nunc varius commodo</h3>
                        <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                        <a href="#" class="button fit" data-poptrox="#">Watch</a>
                    </div>
                </div>

                <div class="box">
                    <a href="#" class="image fit"><img src="../../../assets/images/food1.jpg" alt="" /></a>
                    <div class="inner">
                        <h3>Nascetur nunc varius commodo</h3>
                        <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                        <a href="#" class="button fit" data-poptrox="#">Watch</a>
                    </div>
                </div>

                <div class="box">
                    <a href="#" class="image fit"><img src="../../../assets/images/food1.jpg" alt="" /></a>
                    <div class="inner">
                        <h3>Nascetur nunc varius commodo</h3>
                        <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                        <a href="#" class="button fit" data-poptrox="#">Watch</a>
                    </div>
                </div>

                <div class="box">
                    <a href="#" class="image fit"><img src="../../../assets/images/food1.jpg" alt="" /></a>
                    <div class="inner">
                        <h3>Nascetur nunc varius commodo</h3>
                        <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                        <a href="#" class="button fit" data-poptrox="#">Watch</a>
                    </div>
                </div>

                <div class="box">
                    <a href="#" class="image fit"><img src="../../../assets/images/food1.jpg" alt="" /></a>
                    <div class="inner">
                        <h3>Nascetur nunc varius commodo</h3>
                        <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                        <a href="#" class="button fit" data-poptrox="#">Watch</a>
                    </div>
                </div>

            </div>

        </div>
    </div>